/lib/
/build/
/.vs/
/x64/
CppProperties.json
RenderCore.sln
RenderCore.vcxproj
RenderCore.vcxproj.filters
RenderCore.vcxproj.user
RenderCore/x64/Debug/vc143.pdb
RenderCore/x64/Debug/vc143.idb
RenderCore/x64/Debug/RenderCore.tlog/unsuccessfulbuild
RenderCore/x64/Debug/RenderCore.tlog/RenderCore.lastbuildstate
RenderCore/x64/Debug/RenderCore.tlog/link.write.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/link.read.4.tlog
RenderCore/x64/Debug/RenderCore.tlog/link.read.3.tlog
RenderCore/x64/Debug/RenderCore.tlog/link.read.2.tlog
RenderCore/x64/Debug/RenderCore.tlog/link.read.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/link.command.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/link-rc.write.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/link-rc.read.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/link-cvtres.write.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/link-cvtres.read.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/CL.write.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/CL.read.1.tlog
RenderCore/x64/Debug/RenderCore.tlog/CL.command.1.tlog
RenderCore/x64/Debug/RenderCore.log
RenderCore/x64/Debug/main.obj
